.chat
  .header
    .left-header
      .left-header__title
        = @group.name
      %ul{class: "left-header__members"}
        Members:
        - @group.users.each do |i|
          %li{class: "member"}
            = i[:name]
    .right-header
      = link_to edit_group_path(@group), class: "right-header__button", data: { turbolinks: 'false'} do
        Edit
  = render "message"
  = render "input"
