.chat-group-form
  %h1 チャットグループ編集
  = form_for @group, html: {class: "edit_chat_group", id: "edit_chat_group_22"} do |f|
    - if @group.errors.any?
      .chat-group-form__errors
        - @group.errors.messages.each do |attr, message|
          - message.each do |val|
            %h2 1件のエラーが発生しました。
            %ul
              %li= val
    .chat-group-form__field.clearfix
      .chat-group-form__field--left
        = f.label :chat_group_name, "グループ名", class: "chat-group-form__label"
      .chat-group-form__field--right
        = f.text_field :name, placeholder: "グループ名を入力してください", class: "chat-group-form__input", id: "chat_group_name"
    .chat-group-form__field.clearfix
      = render template: "users/index"
    .chat-group-form__field.clearfix
      .chat-group-form__field--left
        = f.label :member, "チャットメンバー", class: "chat-group-form__label"
    .chat-group-form__field.clearfix
      .chat-group-form__field--left
      .chat-group-form__field--right
        = render "users/list"
        = f.submit "更新する", data: {disable_with: "Save"}, class: "chat-group-form__action-btn"
